/*# fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*# variables */
:root{
    --hue:200;
    --saturation: 70%
    --lightness: 55% 
    --main-color:xxx

    /* text colors*/
    --text-dark-gy:hsl(0, 0%, 96%);
    --text-white:hsl(0, 0%, 100%);
    /* --text-light-gray:hsla(0, 0%, 96%, 0.701); */
    --text-light-gray: hsl(218, 84%, 19%);
    --text-x-dark-gray: hsl(0, 0%, 10%);
    --text-dark-gray:hsl(0 0% 20%);
    /* --main-color: hsl(200, 70%, 55%); */
    --main-color: hsl(218, 84%, 19%);
    -my-color: hsl(20, 70%, 55%);

   /* bg colors*/
   --body-bg-color: hsl(var(--hue), 60%, 88%);
   --bg-color: hsl(var(--hue),60%, 96%);
   --bg-white: hsl(0, 0%, 100%);

    /* border colors*/
    --border-color: hsl(var(--hue),48%, 80%);


    /* shadow */
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3%);
    --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6%);

    /* font size */
    --fs-4xl: 50px
    --fs-3xl: 35px
    --fs-2xl: 25px
    --fs-xl: 20px
    --fs-lg: 18px
    --fs-md: 16px
    --fs-sm: 14px 


}
/*# base */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    background-image:url(./images/new2.jpeg);
    background-size: contain;
    background-color: #ffffff7d;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: var(--fs-md);
    line-height: 1.5;
    color: var(--text-dark-gray);
    background-color: var(--body-bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}
#countdown {
    display: flex;
    justify-content: center;
   
    
    
  }

  #countdown > div {
    margin: 0 10px;
    font-size: 2rem;
    color: lavender;
    background-color:  #03052f;
   /* color: #ffffffcd;
   background-color: #ffffff41; */
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 10px;
  }
  #countdown > div:hover {
    color: lavender;
    background-color:  #03052f;
  }








.contacts{
    color: #ffffffa1;
    
    
}
.contacts:hover{
    color: #ffffffa1;
    background-color: #ffffff7d;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
    
}


#fab1{
    color: rgb(255, 18, 37);
    font-size: 20px;
}
#fab1:hover{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#fab{
    color: rgba(255, 255, 255, 0.616);
    font-size: 20px;
}


#top{
    background-color: rgba(255, 255, 255, 0.447);
        backdrop-filter: blur(5px);
    }

    
/* ADDED START */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px) ;
    z-index: 1000;
  }
  .updates{
    /* color: #ffffffcd;
    background-color: #ffffff41; */
    color: lavender;
    text-align: center;
    background-color:  #03052f;
    font-size: 1.2rem;
    padding: 5px;
    height: 55vh;
    border-radius: 20px;
    
    
  }
  /* .updates:hover{
      color: lavender;
    background-color:  #03052f;
    color: #ffffffcd;
    background-color: #ffffff41;
  
  
  } */
  
@-webkit-keyframes clouds {
    0% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  
    50% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  
    100% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  }
  
  @keyframes clouds {
    0% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  
    50% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  
    100% {
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
    }
  }
  
.microsofthide{
    display: none;
}

  /* Microsoft log in page made by: csozi | Website: english.csozi.hu*/

.form2 {
  
    /*Scale only to make it look right on the preview*/
    /* display: none; */
    animation: clouds 8s infinite;
      scale: 0.8;
      background-color: #ffffff4e;
      background-image: url(./images/new1.png);
      border: 4px solid #fafafa49;
      background-size: cover;
     height: 490px;
      width: 850px;
    box-sizing: content-box;
    background-size: cover;
    padding: 25px;
    color: #ededed;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 10000;
    margin: 0 auto;
 
   
  
  }
  .logoinmicrosoft{
    border-radius: 6px;
    width:auto;
    position: fixed;
    right: 20px;
    top: 15px;
    height: 10%;
   
  }

  .textmic{
    background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  background-clip: text;
  
    -webkit-text-fill-color: transparent;
  }
.new,#new{
    color: red;
    
}
  
  .form2 .titlemic {
    font-weight: bold;
    font-size: 2.0rem;
    color: lavender;
    background-color:  #03052f;
    /* background-color: #ffffff41;
    color: #f5f2f0; */
    padding: 0;
    margin-top: 26px;
    margin-bottom: 22px;
    text-align: center;
   
   
    border-radius: 20px;
      font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    }
  
  
  .form2 .email,.password {
    width: 100%;
    padding: 6px 10px 6px 0px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.6);
    height: 36px;
    font-size: 20px;
    outline: none;
    background-color: #ffffff4e;
    padding-left: 0;
    color: #6d4c06;
    margin-bottom: 16px;
  }
  

  
  .form2 .textmic {
    color: #1b1b1b;
    font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 16px;
    font-size: .8125rem;
  }
  
  .form2 .textmic a {
    color: #7c8489;
  }
  
  .form2 .button_row {
    width: 100%;
    display: flex;
    justify-content: end;
    height: fit-content;
    gap: 4px;
    
  }
  
  .form .button_row .button {
    width: 108px;
    height: 32px;
    box-sizing: content-box;
    padding: 4 12 4 12;
    border: none;
    font-size: 15px;
  }
  
  .form2 .button_row .secondary_button {
    background-size: cover;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    touch-action: manipulation;
    color: white;
    cursor: pointer;
    width: 30%;
    padding: 18px;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  
  .form2 .button_row .secondary_button:hover {
    background-color: rgba(0,0,0,0.3);
  }
  
  .form2 .button_row .primary_button {
    background-color: red;
    font-weight: bold;
    color: #070606;
    background-size: cover;
    cursor: pointer;
  width: 30%;
    padding: 8px;
    border-radius: 20px;
   
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  }
  
  .form2 .button_row .primary_button:hover {
    background-color: #005da6;
  
  }
  .popupclose{
    background-color: #005da6;
    border: 6px solid #fafafafa;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    
  }
/* ADDED END */







































.backtoTop{
    position: fixed;
    right: 3px;
    bottom: 2px;
    margin: 0;
    font-size: 30px;
    width: 55px;
    padding: 0px 0px 0px 9px;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #030d20;
    
}
.LeftMessageicon{
    position: fixed;
    left: 2px;
    bottom: 2px;
    margin: 0;
    font-size: 30px;
    width: 55px;
    padding: 0px 0px 0px 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #030d20;
    
}

.backtoTop:active{
scale: 0.8;

}
.LeftMessageicon:active{
scale: 0.8;

}
*{
    color: var(--main-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
    color: #090e4c;
    
}
p{
    margin-bottom: 15px;
   
}
img{
    max-width: 100%;
    vertical-align: middle;
 
}
::selection{
    background-color: var(--main-color);
    color: var(--text-white);

}
::-webkit-scrollbar{
    width: 10px;
   
  
}
::-webkit-scrollbar-track{
    background-image: url(./images/new2.jpeg);
    background-color: var(--body-bg-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffffe1;
    border-radius: 10px;
 
}
/*# page wrapper */
.page-wrapper{
    overflow: hidden;
}
/*# container */
.container{
 
    max-width: 100%;
    margin: auto;
    padding: 0px 15px 0px 15px;

  
}

/*# grid */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
/*# section */
.section-padding{
    padding: 10px 0;
}
.section-title{
    text-align: center;
    margin-bottom: 45px;
}
.section-title .title{
    display: inline-block;
    font-size: var(--fs-lg);
    font-weight: 400;
    text-transform: capitalize;
    color: #ffff;
    margin:0 0 12px;
    padding: 0 40px;
    position: relative;

}
.section-title .title::before,
.section-title .title::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 34px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(50%);

}
.section-title .title::before{
    left: 0;
}
.section-title .title::after{
    right: 0;
}
.section-title .sub-title{
    font-size: var(--fs-3xl);
    text-transform: capitalize;
    
}
.popupimagefooter{
    position: fixed;
    right: 1px;
    height: 8px;
    height: 140px;
    
}



/*# buttons */
button{
    cursor: pointer;  
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--text-white);
    font-weight: 500;
    font-size: var(--fs-md);
    text-transform: capitalize;
    line-height: 1.5;
    font-size: inherit;
    border: 2px solid transparent;
    border-radius: 30px;
    vertical-align: middle;
    user-select: none;
    transition: aii 0.3s ease;
}
.btn:hover{
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);

}
/*# forms */
.input-box{
    margin-bottom: 20px;
    

}
::placeholder{
    color: var(--text-dark-gray);
    opacity: 1;/* overide firefox's default opacity*/
    
}
::placeholder{
    color:#090e4c ;
}
.input-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background-color: #ffffff7d;
    /* background-color: transparent; */
    color:#090e4c ;
    font-family: inherit;
    font-size: inherit;
    color: var(--text-x-dark-gray);
    padding: 0 20px;

}
.input-control:focus{
    outline: 1px solid var(--border-color);
}
textarea.input-control{
    display: block;
    height: 150px;
    padding-top: 15px;
    resize: none;
    

}
/*# preloader */
/*# header */
.header{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 10px 0;
}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    z-index: -1;
    transform: translateY(calc(-100% -10px));
    transition: transform 0.5s ease;
}
.header.bg-reveal::before{
    transform: translateY(0);
}
.logo{
    width: 50px;
    height:50px;
 left: 50px;
 top: 8px;

}
span{
    padding: 10px;
    background-color: #0d093bfd;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    color: rgb(224, 224, 223);
    font-family: 'Times New Roman', Times, serif;
  
}
.title{
    text-align: left;
position: absolute;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    color: rgb(4, 23, 49);
    font-weight: bold;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: auto;
    align-items: center;
    position: fixed;
    background-color: #ffffffa2;
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 10px;
}
nav{
    flex-direction: 1;
    padding-left: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;

}
nav ul li a{
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    /* color: rgb(118, 116, 115); */
    padding: 8px 15px 8px 15px;
    background:  hsl(218, 84%, 19%);
    font-family: monospace;
    font-size: 1rem;
    /* background: #ffffff9c; */
    font-weight: bold;
    color: red;
    box-shadow: 3px 3px 3px red;
}

    nav ul li a:hover{
        background-image: url(images/logo.png);
        color: rgb(243, 243, 243);
        box-shadow: 3px 3px 3px rgb(235, 235, 235);
        backdrop-filter: blur(10px);
        transition: 0.7s ease;
       
       
    }

    .nav-menu{
   
        right: 100px;
    }
    .hamburger{
        background-image: url(images/logo.png);
        color: red;
        box-shadow: 3px 3px 3px red ;
        backdrop-filter: blur(10px);
        transition: 0.3s ease;
        border: solid 2px lemonchiffon;
        border-radius: 3px;
        z-index: 1000;
        
    }
    .hamburger{
        display:none;
        cursor: pointer;
        
    }
    .bar{
        display: block;
        width: 25px;
        height: 5px;
        margin: 3px;
        background: linear-gradient(45deg,#87adfe,#ff77cd);
    }

   












.logo{
display: grid;
grid-template-columns: repeat(2,1fr);
margin-left: 60px;
}
.header  .logo a{
     font-size: 28px;
     font-weight: bold;
     color: rgb(205, 120, 16);
   
    
    
}
.header  .logo span{
    font-size: 18px;
    display: block;
    font-weight: 400;
    text-align: center;
    color: var(--text-x-dark-gray);
  

}
.nav li{
    display: inline-block ;
    margin-left: 35px;
}
.nav a{
    text-transform: capitalize;
    font-size: var(--fs-md);
    color: var(--text-x-dark-gray);
    font-weight: 400;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease;
}
.nav a:hover{
    color: var(--main-color);

}
.nav.toggler{
    display: none;
}
/*# home */
.home{
    padding: 15px 0 60px ;
}
.home-text,
.home-img{
    grid-column: span 6;
    align-self: center;
}
.home-text h1{
    margin: 0 0 20px;
    text-transform: capitalize;
}
.home-text p{
    margin: 0 0 30px;
}
.home-img{
    position: relative;
    
}
.home-img .circle-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;

}
.home-img .circle{
     height: 230px;
     width: 335px;
     /* background-color: var(--bg-color); */
     border-radius: 29px;
     transform: translate(-50%, -50%);
     
}

.home-img img{
    width: 100%;
    /* max-width: 300px; */
    display: block;
    margin: auto;
    border-radius: 10px;
    height: auto;

   
}

/*# about */
.about .section-title{
    text-align: left;
    margin: 0 0 15px;
}
.about-img,
.about-text{
    grid-column: span 6;
    align-self: center;
}
.about-img .img-box{
    width: 100%;
    /* max-width: 400px; */
    margin: auto;
    padding: 15px;
    border-radius: 29px;
    background-color: #ffffff7d;
    box-shadow: var(--shadow);
    position: relative;
}
.about-img .img-box img{
    border-radius: 29px;
 
}
.about-img .box{
    height: 125px;
    width: 125px;
    background-color: var(--main-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 0 40px;
}
.about-img .box-1{
    top: 50%;
    left:30px;
    width: 140px;
    border: 4px solid#ffffffeb;;
    transform: translate(-50%, -50%);
    
}
/* */
.about-img .box p{
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-light-gray);
}

/*# services */
.services-item{
    grid-column: span 2;
    text-align: center;
}
.services-item .img-box{
    height: 150px;
    width: 150px;
    margin: 0 auto 20px;
    box-shadow: var(--shadow);
    padding: 8px;

}
.services-item .img-box img{
    background-color: rgba(253, 253, 253, 0.642);
    transition: transform 0.5 ease;
    padding: 10px;
    border-radius: 10px;

}
/* .services-item:hover .img-box img{
    transform: scale(1.5);

} */
.services-item h3{
    text-transform: capitalize;
    font-size: var(--fs-xl);
    font-weight: 500;
    
}
/*# pricing */
     .pricing-item{
        grid-column: span 4;
        background-color: #ffffff7d;
        box-shadow: var(--shadow);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
     }
    
     .pricing-header h3{
        text-transform: capitalize;
        margin: 0 0 20px;
        font-size: var(--fs-2xl);
        font-weight: 600;
        
     }
     .pricing-header .price{
        height: 140px;
        width: 140px;
        margin: auto;
        border: 6px solid hsl(240, 16%, 96%);
        border-radius: 50%;
        background-color: #ffffffb7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--fs-sm);
        text-transform: capitalize;

     }
     .pricing-header .price span{
        font-size: var(--fs-3xls);
        color: var(--main-color);
        font-weight: bold;
        line-height: 1.3;

     }
     .pricing-header:hover .price span{
        transform: scale(1.5);
     }
     .pricing-body{
        padding: 30px 0;
        text-align: left;
        display: grid;
        
       
     }
     .pricing-body li{
        text-transform: capitalize;
        position: relative;
        padding-left: 27px;
       
        

     }
     .pricing-body li+li{
        margin-top: 10px;
        
     }
     .pricing-body li i{
        position: absolute;
        left: 0;
        top: 5px;
        font-size: var(--fs-sm);
     }
/*# team */
.team-item{
grid-column: span 4;
}
.team-item .img-box{
    max-width: 350px;
    box-shadow: var(--shadow);
    /* background-color: var(--bg-color); */
     background-color: #ffffff7d;
    margin: auto;
    border-radius: 29px;
    padding: 15px; 
}
.team-item img{
    padding: none;
    transition: filter 0.5s ease;
}
.team-item:hover{
    filter: grayscale(50%);
}
.team-item .detail{
    background-color: #ffffff7d;;
    width: 100%;
   color: #fff;
    padding: 15px;
    margin: 8px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 20px 90px ;
    transition: border-radius 0.5 ease;
}
.team-item:hover .detail{
    border-radius: 90px 30px;
    background-color: #1ab3b3;

}
.team-item h3{
    margin: 0 0 5px;
    color: #090e4c;
    font-size: var(--fs-xl);
}
.team-item p{
    margin: 0;
    color: var(--text-light-gray);
}
/*# contact */
.contact-grid{
    max-width: 1000px;
    margin: auto;

}
.contact-info{
    grid-column: span 5;
}
.contact-form{
    grid-column: span  7;

}
.contact-info-item{
    position: relative;
    padding: 20px 0 20px 70px;
}
.contact-info-item +.contact-info-item {
    margin-top: 20px;
    border-top: 1px solid var(--border-color);

}
.contact-info-item i{
    height: 50px;
    width: 50px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 20px;

}
.contact-info-item h3{
    margin: 0 0 10px;
    font-size: var(--fs-xl);
    font-weight: 500;
    text-transform: capitalize;

}
.contact-info-item p:last-child{
    margin: 0;
}

/*# footer */
#footer{
    background-color: #fcfcfcb3;
    margin: 0 auto;
    width: 60%;
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    border-bottom-right-radius: 0;
}
.footer{
    padding: 4px 0;
    text-align: center;
    color: rgb(1, 2, 2);
    margin: 0 auto;


}
.footer h3{
    color: var(--text-white);
    font-size: var(--fs-2xl);
    margin: 0 0 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.footer .social-links a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    background-color: var(--bg-white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    color: red;


}
.footer .social-links a:hover{
    color:rgb(21, 6, 70);
    border-color: initial;
    border: 4px solid;
    scale: 1.4;

}
.footer .social-links a:active{
    scale: 0.9;
}
.Numbering{
    background-color: #ffffff7d;
    /* background-color: rgb(9, 60, 70); */
    border-radius: 10px;
    margin: 0 auto;
    width: 39px;
    padding: 5px ;
    color: #ffff;
    font-size: 1.5rem;
}
#titleSmallscreen,.logonsmallscreen{
    display: none;
        }
        .rights{
            display: grid;
            text-align: center;
            column-count: 3;
            background-color: #ffffff9d;
            height: 80px;
            color: rgb(143, 143, 147);
            padding: 24px;
            width: 105;
            margin-bottom: -9px;
           

        }        

/*# responsive */
@media (max-width:850px){
    #countdown > div {

        font-size: 1.5rem;
      
      }
    .logonsmallscreen{
        width: 50px;
        position: absolute;
        height:50px;
     left: 10px;
     top: 10px;
     display: block;
   
     z-index: 1000;
     
    }
    .form2{
        width: 500px;
    }
    .smallscreen{
        position: fixed;
        background-color: #ffffffa2;
        /* backdrop-filter: blur(500px); */
        width: 100%;
        z-index: 100;
        border: 4px solid #ffffff47;
        border-radius: 10px;
    }
#titleSmallscreen{
width: 75%;
font-size: 1.2rem;
text-align: right;
margin-top: 20px;
font-weight: bold;
display: block;
z-index: 1000;
    }
    .home{
        margin-top:0px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;}
    .hamburger{
        display: block;
        position: fixed;
        right: 13px;
        top: 16px;
        margin-right: 15px;
        z-index: 1000;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
       display: block;
       height: 100%;
        position: fixed;
        left: -800%;
        top: 0;
        margin-left: 0px;
        gap: 20px;
        width: 99%;
        border: 2px solid lemonchiffon;
       backdrop-filter: blur(10px);
        text-align: center;
        transition: 0.1s ease;
        

    }
    .navbar.active{
        left: 0;
    }
    .title{
        display: none;
    }
    ul.nav-menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
       
    }
    .nav-menu li{
        margin: 40px 50px 20px -40px;
        font-size: 1.3rem;
    
    }

}
@media (max-width:580px){
    #countdown > div {

        font-size: 0.9rem;
      
      }
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;}
        ul.nav-menu{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin: 0 auto;
           
        }
        .nav-menu li{
            margin: 40px 50px 20px -40px;
            font-size: 1.3rem;
        
        }
        .form2{
            width: 300px;
            height: 480px;
            
            margin: 10px 0px 0px -15px;
          
           
        }
        /* .updates{
            background-color: transparent;
        } */
      #schoolemail{
            font-size: 0.8rem;
          
        }
       
       
    
}
@media (max-width: 420px){
    ul.nav-menu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
       
    }
    
    #countdown > div {

        font-size: 0.9rem;
      
      }
     
}
@media (max-width: 352px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;}
}
